:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;

  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-128: 8rem;
}

body {
  background-color: var(--stone-100);
  height: 100vh;
  margin: 0;
}

.recipe {
  background-color: var(--white);
  width: min(100vw, 38.5rem);
  box-sizing: border-box;
}

.recipe__image {
  margin: 0;
  width: 100%;
}

.recipe__image img {
  width: 100%;
}

.recipe__content {
  padding: var(--space-40) var(--space-32);
}
